<h3>Add donut form</h3>

<form action="/new_donut" method="post">

  <label for="">donut name</label>
  <input type="text" name="donut_name"><br><br>

  <!-- shoulbe be hidden -->
  <label for="">shop id</label>
  <input type="number" name="shop_id"><br><br>


  <label for="">shop name</label>
  <input type="text" name="shop_name"><br><br>

  <label for="">review</label>
  <input type="text" name="review"><br><br>

  <label for="">image</label>
  <input type="text" name="image"><br><br>

  <button>add new donut</button>
  
</form>