<h3>Sign up page</h3>

<div class="sign_up_form">

 <form action="/sign_up" method="post">
  
    <label for="">email</label>
    <input type="text" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <button>Sign up</button>
  </form>

  <br><br><p>when sign up is successfull, you will be redirected to log in page</p>

  </div>